{% extends 'layoutAdmin.html.twig' %}

{% block title %}

Ajout - {{ parent() }}

{% endblock %}

{% block body %}

<div class="flash">
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<h2>Ajout d'une catégorie</h2>

<div class="formulaire">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="groupe">
        {{ form_label(form.nom, "Catégorie") }}
        {{ form_errors(form.nom) }}
        <div class="boite">
            {{ form_widget(form.nom)}}
        </div>
    </div>
    <br />
    {{ form_widget(form.confirmer) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
<br />

{% endblock %}