{% extends 'layoutAdmin.html.twig' %}

{% block title %}

Instruments - {{ parent() }}

{% endblock %}

{% block body %}

<div>
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<h2>Instruments</h2>

{% for instru in listInstruments %}
<li>
    {{ instru.name }} Prix: {{ instru.price }}$
    <a href="{{ path('edit_instrument', {'id': instru.id}) }}">
      <button type="button">
      Modifier l'article
      </button>
    </a>
</li>
{% else %}
<li>Pas d'instrument en stock pour le moment !</li>
{% endfor %}

{% endblock %}