{% extends 'layout.html.twig' %}

{% block title %}

Instruments - {{ parent() }}

{% endblock %}

{% block body %}

<div>
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

<h2>Instruments</h2>

{% for instrument in listInstruments %}
<li>
    {{ instrument.name }} Prix: {{ instrument.price }}$
    <a href="{{ path('achat', {'name': 'instrument', 'id': instrument.id}) }}">
        <button type="button">
        Acheter
        </button>
    </a>
</li>
{% else %}
<li>Pas d'instrument en stock pour le moment !</li>
{% endfor %}

{% endblock %}