<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Clefs En Fête{% endblock %}</title>
        <link href="{{ asset('css/e_commerce.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Les Clefs En Fête</h1>
            <nav>
                <ul>
                    <li class="menu"><a class="menu" href="{{ path('add_category') }}">Ajout catégorie</a></li>
                    <li class="menu"><a class="menu" href="{{ path('add_instrument') }}">Ajout instrument</a></li>
                    <li class="menu"><a class="menu" href="{{ path('view_instruments') }}">Instruments</a></li>
                    <li class="menu"><a class="menu" href="{{ path('admin_commande') }}">Gestion commandes</a></li>
                    <li class="menu"><a class="menu" href="{{ path('admin_user') }}">Gestion utilisateurs</a></li>
                    <li class="menu"><a class="menu" href="{{ path('index_admin') }}">Accueil</a></li>
                    <li class="menu"><a class="menu" href="{{ path('index') }}">Boutique</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside>
                <ul>
                    {% for category in listCategories %}
                    <li class="category"><a class="category" href="{{ path('view', {'name': category.nom}) }}">{{ category.nom }}</a></li>
                    <br />
                    {% else %}
                    <li class="category"><a class="category" href="#">Aucune famille d'instruments trouvée</a></li>
                    {% endfor %}
                </ul>
            </aside>
            <article>
        {% block body %}
        {% endblock %}
            </article>
        </main>
        <footer>
            Made with love by Camille Duverger.
        </footer>
    </body>
</html>