<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Clefs En Fête{% endblock %}</title>
        <link href="{{ asset('css/e_commerce.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 style="text-align:center;">Les Clefs En Fête</h1>
            <nav>
                <ul>
                    <li class="menu"><a class="menu" href="{{ path('login') }}">Se Connecter</a></li>
                    <li class="menu"><a class="menu" href="{{ path('logout') }}">Se Déconnecter</a></li>
                    <li class="menu"><a class="menu" href="{{ path('signUp') }}">S'inscrire</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside>
                <ul>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                    <li class="category"><a class="category" href="{{ path('login') }}">Article 1</a></li>
                    <li class="category"><a class="category" href="{{ path('logout') }}">Article 2</a></li>
                    <li class="category"><a class="category" href="{{ path('signUp') }}">Article 3</a></li>
                </ul>
            </aside>
            <article>
            blablablablablablablablabalbalablablblablablablablablablablablablbalblablablablblablablabalbalblablbalbaablabalb
        {% block body %}
        {% endblock %}
            </article>
        </main>
        <footer>
            Made with love by Camille Duverger.
        </footer>
    </body>
</html>
