<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Clefs En Fête{% endblock %}</title>
        <link href="{{ asset('css/e_commerce.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Les Clefs En Fête</h1>
            <nav>
                <ul>
                    {% if app.user.username is defined %}
                    <li class="menu"><a class="menu" href="{{ path('logout') }}">Se Déconnecter</a></li>
                    <li class="menu"><a class="menu" href="{{ path('edit_profil') }}">Profil</a></li>
                    {% else %}
                    <li class="menu"><a class="menu" href="{{ path('login') }}">Se Connecter</a></li>
                    <li class="menu"><a class="menu" href="{{ path('signUp') }}">S'inscrire</a></li>
                    {% endif %}
                    <li class="menu"><a class="menu" href="{{ path('instruments') }}">Instruments</a></li>
                    <li class="menu"><a class="menu" href="{{ path('panier') }}">Panier</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside>
                <ul>
                    {% for category in listCategories %}
                    <li class="category"><a class="category" href="{{ path('view', {'name': category.nom}) }}">{{ category.nom }}</a></li>
                    <br />
                    {% else %}
                    <li class="category"><a class="category" href="#">Aucune famille d'instruments trouvée</a></li>
                    {% endfor %}
                </ul>
            </aside>
            <article>
        {% block body %}
        {% endblock %}
            </article>
        </main>
        <footer>
            Made with love by Camille Duverger.
        </footer>
    </body>
</html>
