{% extends 'layout.html.twig' %}

{% block title %}

Panier - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="flash">
        {% for message in app.flashes('notice') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    {% if done is defined %}
    <h2>Vous avez déjà passé une commande, veuillez confirmer sa réception avant d'en repasser une autre.</h2>
    <a href="{{ path('reception') }}">
        <button type="button">
        Confirmer Reception
        </button>
    </a>
    {% else %}
        {% if  listArticles != NULL %}
        <ul>
            {% for article in listArticles %}
            <li class="article"> {{ article.quantity}} x {{ article.instrument.name }} à {{ article.instrument.price }}$ l'unité</li>
            {% endfor %}
        </ul>
        <a href="{{ path('commande_valide') }}">
            <button type="button">
            Valider la commande
            </button>
        </a>
        <a href="{{ path('supprimer_panier') }}">
            <button type="button">
            Vider le panier
            </button>
        </a>
        {% else %}
        <li class="article">Votre panier est vide pour le moment.</li>           
        {% endif %}
    {% endif %}
{% endblock %}